@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

:root {
    --roboto: 'Roboto', sans-serif;
    --pacifico: 'Pacifico', cursive;
}

body {
    font-family: var(--roboto);
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: white;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: var(--pacifico);
}

#sobre-o-restaurante {
    background-color: #ffeae6;
}

.text-colored,
span {
    color: #e15f41;
}