@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.container-flex {
    display: flex;
}

header > .container {
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}

header {
    background-color: dodgerblue;
    color: white;
    font-style: italic;
    padding: 16px 0px 16px;
    margin-bottom: 40px;
}

nav li {
    display: inline;
    font-style: normal;
    list-style: none;
    padding: 10px;
}

nav li a {
    color: white;
    text-decoration: none;
}

#loja {
    max-width: 400px;
    margin-right: 40px;
    margin-bottom: 70px;
}

h2 {
    color: dodgerblue;
    font-style: italic;
    padding-bottom: 15px;
    border-bottom: 2px solid dodgerblue;
}

#sobre-a-loja {
    text-align: justify;
    padding-top: 40px;
}

.lista-tenis {
    flex-wrap: wrap;
}

.lista-tenis li {
    list-style: none;
    max-width: 23.5%;
    padding-top: 55px;
}

.lista-tenis h3 {
    margin: 20px 0px;
    font-size: 1.4em;
}

.lista-tenis img {
    max-width: 100%;
}

.lista-tenis li p {
    text-align: left;
}

#item-central1 {
    margin: 0px 2%;
}

#item-central2 {
    margin: 0px 2% 0px 0px;
}

button {
    padding: 8px;
    margin: 15px 0px 70px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}