@charset "UTF-8";

body {
    background-color: aquamarine;
}

div {
    display: block;
    align-items: center;
    padding: 8px 20px;
    height: 500px;
    width: 550px;
    background-color: bisque;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.562);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    font-variant: small-caps;
}

form {
    max-width: 100vw;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

form input {
    font-size: 16px;
    width: 180px;
    height: 23px;
}

#add:hover {
    background-color: rgba(127, 255, 212, 0.881);
}

#add {
    background-color: rgba(21, 232, 161, 0.777);
    border-radius: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.321);
    border-right: 2px solid rgba(0, 0, 0, 0.321);
}

th {
    border-bottom: 2px solid black;
}

table {
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
    padding: 10px 40px;
    align-items: center;
    text-align: center;
}

tbody td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.500);
}

tfoot td {
    padding-top: 10px;
}