@charset "UTF-8";


@font-face {
    font-family: 'newspaper';
    src: url(OldNewspaperTypes.ttf) format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
}

#cabeca {
    padding: 30px;
    background-image: linear-gradient(to bottom, white, #41E1F8);
}

body {
    background-color: #41E1F8;
}

section {
    background-color: white;
    min-width: 100px;
    max-width: 850px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.378);
}

header > nav {
    min-width: 300px;
    max-width: 850px;
    display: block;
    margin: auto;
    padding-left: 25px;
}

h1 {
    margin-bottom: 20px;
    font-family: 'newspaper', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4em;
    text-align: center;
    color: #3846D9;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

h2 {
    text-align: center;
    padding: 20px;
    color: #6241F8;
    background-image: linear-gradient(to right, white, #41E1F8, white);    
}

h3 {
    text-align: center;
    padding: 20px 0px 5px 0px;
    color: #347dab;
}

p {
    padding: 10px;
    text-align: justify;
    max-width: 700px;
    margin: auto;
}

article > a {
    padding: 10px;
    display: block;
    text-align: center;
}


img {
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

time {
    display: block;
    text-align: center;
}
