@use 'variaveis';

.info {
    padding: 1vh 3vw;
    min-height: 50vw;

    h2 {
        color: variaveis.$corDaFonteSecundaria;
        font-size: variaveis.$fonteSizeTitulo;
        font-family: variaveis.$fontFamily;
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        display: block;
        padding-bottom: 6vh;
    }

    &__questions {
        border: 2px solid variaveis.$corDaFonteSecundaria;

        &__item {
            list-style: none;
            margin-bottom: 16px;

            &__question {
                color: variaveis.$corDaFonte;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }
        }

        &__answer {
            color: variaveis.$fonteTexto;
            height: 0;
            overflow: hidden;
            padding: 0 24px;
            transition: height, 0.5s ease;
        }

        &--is-open {
            .info__questions__item__question::after {
                content: '-';
            }

            .info__questions__item__answer {
                height: auto;
                padding-bottom: 24px;
                transition: height, 0.5s ease;
            }
        }

        &__list {
            list-style-type: disc;
            margin-left: 38px;
            margin-top: 16px;
            line-height: 30px;
            letter-spacing: 0.2px;

            &__last {
                list-style: none;
                margin-left: 0px;
                margin-top: 16px;
                letter-spacing: .2px;
                line-height: 30px;
            }
        }


    }
}