@use 'apresentacao';
@use 'variaveis';
@use 'shows';
@use 'info';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.footer {
    padding: 16px;
    background-color: #ff5d1289;
    text-align: center;
    font-weight: bold;
    font-family: variaveis.$fontFamily;
    color: variaveis.$corDaFonte;

    @media (min-width: 769px) and (max-width: 1023px) {
        font-size: 1.5em;
    }
}

