@use 'variaveis';

.shows {
    padding: 7vw 5.6vw;
    min-height: 50vw;

    @media (max-width: 768px) {
        display: block;
        font-size: 20px;
    }

    &__list {
        margin-top: 44px;
        display: none;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        color: variaveis.$corDaFonte;
        list-style: none;
        font-size: variaveis.$fonteTexto;
        text-align: justify;
        font-family: variaveis.$fontFamily;

        @media (max-width: 768px) {
            margin: 0px;
        }

        @media (min-width: 769px) and (max-width: 1023px) {
            margin: 36px;
            font-size: 32px;
        }

        &--is--active {
            display: grid;

            @media (max-width: 768px) {
                display: block;
                font-size: 20px;
                padding: 0px 10px;
            }

            @media (min-width: 769px) and (max-width: 1023px) {
                display: block;
            }        
        }

        &__item {
            img {
                max-width: 100%;
                border: .5px solid variaveis.$corDaFonteSecundaria;   
                border-radius: 10px;   
                
                @media (max-width: 768px) {
                    display: block;
                    margin-top: 20px;
                }
                @media (min-width: 769px) and (max-width: 1023px) {
                    margin-top: 40px;
                }
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

            @media (max-width: 768px) {
                padding: 0px 0px 20px;
                justify-content: space-around;
            }

            @media (min-width: 769px) and (max-width: 1023px) {
                justify-content: space-evenly;
            }

        &__button {
            color: variaveis.$corDaFonte;
            font-family: variaveis.$fontFamily;
            font-size: variaveis.$fonteSizeTitulo;
            padding-bottom: 5px;
            background: none;
            border: none;
            text-transform: uppercase;
            margin: 0px 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            color: variaveis.$corDaFonteSecundaria;

            @media (max-width: 768px) {
                font-size: 22px;
                padding: 0px 0px 5px;                
            }

            @media (min-width: 769px) and (max-width: 1023px) {
                font-size: 42px;
            }

            &--is--active {
                border-bottom: 5px solid variaveis.$corDaFonteSecundaria;
            }
        }
    }
}