@use 'variaveis';

.shows {
    padding: 7vw 5.6vw;
    min-height: 50vw;

    &__list {
        margin-top: 44px;
        display: none;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        color: variaveis.$corDaFonte;
        list-style: none;
        font-size: variaveis.$fonteTexto;
        text-align: justify;
        font-family: variaveis.$fontFamily;
        

        &--is--active {
            display: grid;
        }


        &__item {
            img {
                max-width: 100%;
                border: .5px solid variaveis.$corDaFonteSecundaria;   
                border-radius: 10px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        &__button {
            color: variaveis.$corDaFonte;
            font-family: variaveis.$fontFamily;
            font-size: variaveis.$fonteSizeTitulo;
            padding-bottom: 5px;
            background: none;
            border: none;
            text-transform: uppercase;
            margin: 0px 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            color: variaveis.$corDaFonteSecundaria;

            &--is--active {
                border-bottom: 5px solid variaveis.$corDaFonteSecundaria;
            }
        }
    }
}