* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Delius Swash Caps', cursive;
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;

    @media (max-width: 640px) {
        max-width: 90%;
    }

    @media (max-width: 1024px) {
        max-width: 80%;
    }
}

.hero {
    padding-top: 64px;
    padding-bottom: 300px;
    background-image: url(../imagens/hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(224, 224, 255);
        content: '';
        opacity: .7;
    }

    &__text {
        margin-top: 64px;
        margin-top: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    @media (max-width: 640px) {
        padding: 40px 0px;

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0px;
        }
    }
}

.infos-bar {
    padding: 16px 24px;
    background-color: rgb(255, 213, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 150%;

    &__infos {
        display: flex;
        gap: 48px;

        &__item {
            font-size: 14px;
            color: black;

            b {
                color: black;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;
        position: relative;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        margin-top: 100px;
        margin-bottom: 0;
        position: relative;
        &__infos {
            gap: 16px;
        }
    }
}

.button {
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;


    &--primary {
        color: black;
        background-color: hotpink;
    }

    @media (max-width: 640px) {
        display: block;
        width: 40%;
        margin: 0 auto;        
        justify-content: center;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        max-width: 100px;
    }
}

.event {
    padding: 80px 0px;

    &--presente {
        background-image: linear-gradient(violet, pink);
    }

    &--bolo {
        background-image: linear-gradient(pink, violet);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 22px;
        }

        &__description {
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0px;
            margin-bottom: 16px;
        }
            
    
    }
}


