@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

:root {
    --titulo: 'WindSong', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 16px 30px;
    background-color: #BD54BF;

}

header > nav > li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;

}

h1 {
    font-family: var(--titulo);
    font-size: 5.0vw;
    color: #F4DFC4;
    margin-left: 10px;

}

li {
    display: inline;
    margin-left: 15px;
}

li > a {
    color: white;
    text-decoration: none;
}

li > a:hover {
    color: #F2BB9B;
    text-decoration: underline;
}

.container {
    min-width: 300px;
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container > div {
    text-align: justify;
    margin-bottom: auto;
    padding-left: 30px;
}

h2 {
    font-variant: small-caps;
}

#fprincipal {
    max-width: 30vw;
    max-height: 25vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.436);
}

#chanel {
    width: 40px;
    padding-top: 10px;
}

#givenchy {
    width: 80px;
}

#prada {
    width: 58px;
}

#final {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
}

#social-links img {
    height: 24px;
}

#contato {
    margin-top: 10px;
    margin-left: 30px;
}

#redessociais {
    text-align: center;

}



